<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'metatags' %>
  </head>

  <body>
    <nav class="d-block">
      <%= render "navbar" %>
    </nav>

    <main role="main" class="main m-4">
      <div class="container-fluid py-3">
        <%= render "flash" %>

        <%= yield %>
      </div>
    </main>

    <nav class="d-block">
      <%= render 'footer' %>
    </nav>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
